.container {
  width: 100%;
  max-width: 550px;
  margin: 0px;
  padding: 0px;
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.image {
  border-radius: 35px;
  height: 70px;
  margin: 0px 10px 0px 0px;
  width: 70px;
}
