.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
}

.image {
  width: 100%;
  max-width: 1600px;
  max-height: 600px;
  object-fit: cover;
}

.title {
  width: 100%;
  max-width: 800px;
  margin-bottom: 15px;
  padding: 40px 10px;
}

.title h1 {
  letter-spacing: -1px;
  line-height: 1.2;
  margin: 3px 0px;
}

.title h2 {
  margin: 0px;
  padding: 3px 0px;
  color: #808080;
  letter-spacing: 0px;
  line-height: 1.2;
  font-size: 13pt;
  font-weight: normal;
}

.content {
  width: 100%;
  max-width: 800px;
  padding: 0px 10px;
}

.content img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  max-width: 800px;
}

.content img:hover {
  width: 125%;
  margin-left: -12.5%;
  max-width: 1000px;
}
