/* reset */
html,
body,
#__next {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

/* font sizing */
body {
  color: #333;
  font-size: 100%;
  font-family: Helvetica, sans-serif;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 0.5em;
  margin-top: 1em;
  text-align: left;
}

h1 {
  font-size: 2.6em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1.1em;
}

h6,
p,
li {
  font-size: 1em;
}

p {
  margin: 0;
  padding: 1em 0px;
}

blockquote {
  border-left: 5px solid turquoise;
  padding: 15px 0px 15px 15px;
  background-color: #f4f4f4;
  border-radius: 4px;
  width: 100%;
  max-width: 550px;
  margin: 0.4em 0px;
}

blockquote p {
  padding: 0px;
}

code {
  background-color: #00000010;
  padding: 3px 3px;
  border-radius: 2px;
}

pre {
  margin: 20px 0px !important;
}

ol pre,
ol p {
  margin: 0px 0px !important;
}

a {
  color: turquoise;
}

a:hover {
  color: #c00;
}

a:visited {
  color: purple;
}

/* page sections */
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.content {
  width: 100%;
  flex: 1;
}

.content > * {
  padding: 0px 10px;
}

.content img {
  width: 100%;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.section .narrow {
  max-width: 550px;
}

.section h1,
.section h2,
.section h3,
.section h4,
.section h5,
.section h6,
.section p {
  width: 100%;
  max-width: 550px;
}

.medium-wide {
  max-width: 550px;
}

hr {
  height: 1px;
  color: #eee;
  opacity: 0.2;
  margin: 15px 0px;
}

/* utilities */
.centered {
  text-align: center;
}

.alternate {
  background-color: #eee;
}

.flex-spacer {
  flex: 1;
}

/* page areas */
.introduction {
  max-width: 550px;
  margin: auto;
}

.post-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  width: 100%;
  /* padding: 15px 30px; */
  max-width: 800px;
}

@media print {
  body {
    zoom: 0.7;
  }

  .introduction {
    max-width: 800px;
  }
}
